.header {
    height: 120px;
    width: 100%;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    

    img {
      border-radius: 40%;
    }
  }
  .logo{
    height: 100px;
    color: rgb(0, 0, 0);
    display: grid;
    position: absolute;
    margin-left: 50%;
    top: 5%;
  }
  .home{
    height: 0px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: grid;
    position: absolute;
    margin-left: 15%;
    top: auto;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    font-weight: 1;
    letter-spacing: 3px;
  }
  .home:hover {
    background: red;
    margin-left: 14.2%;
    height: 81px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    top: 0;
    border-radius: 8%;
   }
  .about{
    height: 0px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: grid;
    position: absolute;
    margin-left: 30%;
    top: auto;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    font-weight: 1;
    letter-spacing: 3px;
  }
  .about:hover {
    background: red;
    margin-left: 29.2%;
    height: 81px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    top: 0;
    border-radius: 8%;
    }
  
  .services {
    height: 30px; 
  font-size: 30px;
  display: grid;
  position: fixed;
  margin-left: 70%;
  top: auto;
  background-color: #000000;
  font-family: fantasy;
  font-weight: 1;
  letter-spacing: 3px;
  
  }
  
  .services:hover {
  background: red;
  margin-left: 69.2%;
  height: 81px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  top: 0;
  border-radius: 8%;
  }
  
  .contacts{
    height: 0px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: grid;
    position: absolute;
    margin-left: 85%;
    top: auto;
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    font-weight: 1;
    letter-spacing: 3px;
  }
  .contacts:hover {
    background: red;
    margin-left: 84.2%;
    height: 81px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    top: 0;
    border-radius: 8%;
    }
  .bg{
    height: 100%;
  }
  body {
    background-image: url(Turquoise\ and\ Orange\ Abstract\ Gradient\ Repeating\ Thank\ You\ Poster.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    background-attachment: fixed;
  }
  
.footer {
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px; /* Added missing 'px' */
}
.logo1 {
  height: 100px;
  color: rgb(0, 0, 0);
  display: grid;
  position: absolute;
  margin-left: 2%;
  top: 15%;
}
.cnt {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border: 10px solid rgb(255, 0, 0);
  padding: 50px;
  margin-top: 8%;
  margin-left: 35%; 
  margin-right: 35%;
  margin-bottom: 5%;
}
.inp{
  height: 50vh;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
}
form{
  display: flex;
  flex-direction: column;
  width: 24em;
  gap: 1rem;
}
input,
select,
textarea{
  padding: 1.4rem;
  background: white;
  border: 3px solid red;
  font-size: 20px;
}
textarea{
  height: 6rem;
  font-size: 22px;
}
button{
  width: 8rem;
  padding: 1.4rem;
  cursor: pointer;
  background: rgb(193, 193, 193);
  color: black;
  font-size: 20px;
  font-family: fantasy;
  letter-spacing: 3px;
}
.footer {
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px; /* Added missing 'px' */
}
.logo1 {
  height: 100px;
  color: rgb(0, 0, 0);
  display: grid;
  position: absolute;
  margin-left: 2%;
  top: 15%;
}
.p{
  margin-left: 80%;
}
.p img{
  height: 60px;
  padding: 10px;
  margin-top: 10px;
}
.fdec{
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: grid;
  position: absolute;
  margin-left: 2%;
  top: 15%;
  bottom: auto;
  font-family: fantasy;
  font-weight: 1;
  letter-spacing: 4px;
}
.fdec1{
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: grid;
  position: absolute;
  margin-left: 2%;
  top: 60%;
  bottom: auto;
  font-weight: 1;
  letter-spacing: 3px;
}